@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import 'typography';
@import 'colors';

body {
  margin: 0;
  font-family: $ff-Roboto;
}

.principal {
  background-color: #f5f8faff;
  background-image: url('/assets/img/dribbb-coffee.gif');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px;
  z-index: -1;

  h1 {
    font-family: $ff-VT;
    color: $info;
    font-size: 2.5rem;
  }

  .subtitle {
    color: $grey-dark;
  }
}

.container {

  h1 {
    font-family: $ff-VT;
    color: $info;
    font-size: 4rem;
  }

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    color: $grey-dark;
  }
}

.card {
  overflow:hidden

}
.card.large {
  border-radius: 10px;
}

.footer {

  .icon {
    font-size: 1.5em;
  }
}

.proyectos-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 5px;
  justify-content: center;

  .level-1 {
    grid-row-end: span 3;
  }
  .level-2 {
    grid-row-end: span 2;
  }
  .level-3 {
    grid-row-end: span 1;
  }
}


@media (max-width: 600px) {
  .container {
    background-color: rgba($color: #f5f8faff, $alpha: 0.9);
    border-radius: 10px;
  }
}