@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import 'typography';
@import 'colors';

body {
  margin: 0;
  font-family: $ff-Roboto;
}

.container {

  h1 {
    font-family: $ff-VT;
    color: $info;
    font-size: 2.5rem;
  }

  p {
    color: $grey-dark;
  }
}

.card {overflow:hidden}
.card.large {
  border-radius: 5px;
}

.is-two-fifths {
  background: $grey-lighter;
}

.footer {

  .icon {
    font-size: 2rem;
  }
}

.proyectos-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 5px;
  justify-content: center;

  .level-1 {
    grid-row-end: span 3;
  }
  .level-2 {
    grid-row-end: span 2;
  }
  .level-3 {
    grid-row-end: span 1;
  }
}


